@use "variables";

//Text

.promptText {
  color: variables.$black;
  margin-top: 1%;
  margin-bottom: 1%;
}

.titleText {
  color: variables.$black;
  margin-top: 1%;
  margin-bottom: 1%;
}

//Buttons
.btnAdd {
  display: flex;
  background-color: variables.$secondaryGreen;
  color: variables.$white;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: large;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 1%;
  margin-top: 1%;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.btnAdd:hover {
  cursor: pointer;
}

//NavBar.tsx
.navBar {
  display: flex;
  flex-direction: row;
  background-color: variables.$secondaryGreen;
  width: 100%;
  height: 5vh;
  justify-content: center;
  align-items: center;
}
.navBarTitle {
  color: variables.$white;
}
//Tables
.table {
  background-color: variables.$black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.tableHeader {
  display: flex;
  flex-direction: row;
  background-color: variables.$secondaryGreen;
  color: variables.$white;
  font-size: x-large;
}
.tableItem {
  display: flex;
  flex-direction: column;
  width: 12vw;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-bottom: 1px solid variables.$secondaryGray;
}
.tableRow {
  display: flex;
  flex-direction: row;
  background-color: variables.$white;
}
.tableDelete {
  color: variables.$secondaryRed;
  font-size: 150%;
}
.tableDelete:hover {
  color: variables.$secondaryDarkRed;
  cursor: pointer;
}
.tableEdit {
  color: variables.$secondaryDarkGray;
  font-size: 150%;
}
.tableEdit:hover {
  color: variables.$secondaryGreen;
  cursor: pointer;
}

//SideBar.tsx
.sideBar {
  width: 15%;
  height: 100vh;
  position: absolute;
  left: 0px;
  background-color: variables.$white;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 5vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sideBarItem {
  color: variables.$black;
  width: 90%;
  font-size: 20px;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  border-bottom: 1px solid variables.$secondaryGray;
}
.sideBarItem:hover {
  cursor: pointer;
}

//NotificationTable.tsx
.notificationTableSend{
  display: flex;
  background-color: variables.$secondaryGreen;
  color: variables.$white;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: medium;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 1%;
  margin-top: 1%;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.notificationTableSend:hover{
 cursor: pointer;
}
