@use "variables";

//General
.mainContainer{
    background-color: variables.$white;
    display: flex;
    height:100vh;
    flex-direction: column;
    
}
.pageContent{
    margin-left: 15%;
}

//MainScreen.tsx
.mainScreenContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//CategoriesScreen.tsx
.categoriesContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//ConditionsScreen.tsx
.conditionsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
//ArticlesScreen.tsx
.articlesContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
//NotificationScreen.tsx
.notificationContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}