$primaryBlue: #042036;
$primaryDarkBlue: #021421;
$primaryLightBlue: #19374f;
$white: #ffffff;
$black: #000000;
$secondaryRed: #ff0000;
$secondaryDarkRed: #aa0e34;
$secondaryGray: #e9e9e9;
$secondaryDarkGray: #727272;
$secondaryOrange: #ff9900;
$secondaryDarkOrange: #d9a04b;
$secondaryYellow: #ffff00;
$secondaryLightYellow: #fff77b;
$secondaryYellow2: #d2d200;
$secondaryGreen: #69b969;
$secondaryGreen2: #4dc24d;
$secondaryGreen3: #70b75f;
$secondaryPink: #c19ede;
$secondaryCyan: #59d9db;
$secondaryCherry: #bb184e;
$secondaryBlue: rgba(9, 66, 110, 0.5);
$secondaryLightBlue: rgba(13, 82, 138, 0.5);
$secondaryDarkBlue: rgba(0, 56, 99, 0.5);
$glassBlue: rgba(25, 55, 79, 0.3);
$glassLightBlue: rgba(39, 85, 122, 0.3);
$glassDark: rgba(34, 34, 34, 0.2);
$magenta: #e6117b;
$cyan: #00ccff;
$brightOrange: #ff6633;